@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  margin-top: 73px;
}

.accent {
  margin: 3rem 0;
  padding: 2rem 0;
  background-color: #aaa;
}
.accent .content {
  padding: 0 2rem;
}

.accent2 .content {
  margin: 0 1em;
}
.accent2 .content .container {
  width: 100%;
}
.accent2 .content .container .flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3em;
}
.accent2 .content .container .flex-container .flex-item {
  flex-basis: 30%;
  border: 1px solid #aaa;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: 0 3px 20px 0px var(--primary-l-color);
  border-radius: 1.5rem;
  transition: transform 0.3s ease 0s;
}
.accent2 .content .container .flex-container .flex-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}
@media (max-width: 767px) {
  .accent2 .content .container .flex-container .flex-item {
    flex-basis: 100%;
  }
}

.item {
  padding: 5rem 0;
}
.item .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item .flex .left, .item .flex .right {
  padding: 0 1%;
  width: 48%;
}
@media (max-width: 768px) {
  .item .flex {
    padding: 1rem 0;
    flex-direction: column;
  }
  .item .flex .left, .item .flex .right {
    padding: 1% 0;
    width: 100%;
  }
}

.item-left-xl {
  padding: 5rem 0;
}
.item-left-xl .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-left-xl .flex .left, .item-left-xl .flex .right {
  padding: 0 1%;
}
.item-left-xl .flex .left {
  width: 67%;
}
.item-left-xl .flex .right {
  width: 31%;
}
@media (max-width: 768px) {
  .item-left-xl .flex {
    padding: 1rem 0;
    flex-direction: column;
  }
  .item-left-xl .flex .left, .item-left-xl .flex .right {
    padding: 1rem 0;
    width: 100%;
  }
}

.item-right-xl {
  padding: 5rem 0;
}
.item-right-xl .flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.item-right-xl .flex .left, .item-right-xl .flex .right {
  padding: 0 1%;
}
.item-right-xl .flex .left {
  width: 31%;
}
.item-right-xl .flex .right {
  width: 67%;
}
@media (max-width: 768px) {
  .item-right-xl .flex {
    padding: 1rem 0;
    flex-direction: column;
  }
  .item-right-xl .flex .left, .item-right-xl .flex .right {
    padding: 1rem 0;
    width: 100%;
  }
}

.imgResponsive {
  max-width: 100%;
}

.slider {
  position: relative;
  width: 100%;
  height: 800px;
  background-image: url("assets/img/welcome-bg.jpg");
  background-size: cover;
  background-position: center;
}
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-bg-overlay);
  opacity: 0.94;
  z-index: 0;
}
.slider h1, .slider h2, .slider h3, .slider h4, .slider h5, .slider h6, .slider p {
  color: #fff;
}
.slider .shape-bottom {
  position: absolute;
  bottom: -8px;
  width: 100%;
}
.slider .shape-bottom svg {
  overflow: hidden;
  width: 100%;
  line-height: 0;
  direction: ltr;
  transform: rotate(180deg);
}
.slider .slides {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.slider .slides .slide {
  flex: 0 0 100%;
  display: none;
}
@media (max-width: 767px) {
  .slider .slides .slide {
    flex: 0 0 80%;
    margin: 0 auto;
  }
}
.slider .slides .slide.active {
  display: flex;
}
.slider .slides .slide .slide-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  z-index: 1;
}
.slider .slides .slide .slide-content .flex-container {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
}
@media (max-width: 767px) {
  .slider .slides .slide .slide-content .flex-container {
    flex-direction: column;
    max-width: 100%;
  }
}
.slider .slides .slide .slide-content .flex-container .flex-item {
  flex: 1;
  padding: 0 10px;
}
@media (max-width: 767px) {
  .slider .slides .slide .slide-content .flex-container .flex-item {
    padding: 10px 0;
  }
}
.slider .controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.slider .controls .arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  margin: 0 1rem;
}
.slider .controls .arrow svg {
  width: 24px;
  height: 24px;
  fill: #333;
  transform: translateY(4px);
}
.slider .controls .arrow.next {
  transform: rotate(180deg);
}
.slider .indicators {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.slider .indicators .indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(56, 56, 56, 0.5);
  margin: 0 5px;
  cursor: pointer;
}
.slider .indicators .indicator.active {
  background-color: #292929;
}

.shape-bottom {
  position: absolute;
  bottom: -8px;
  width: 100%;
}
.shape-bottom svg {
  overflow: hidden;
  width: 100%;
  line-height: 0;
  direction: ltr;
  transform: rotate(180deg);
}

header {
  background-color: rgba(38, 38, 38, 0.8);
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1224px;
  width: 92%;
  margin: 0 auto;
}

.sticky {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  font-size: 2rem;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-link {
  transition: 0.3s ease-out;
}
.nav-link:hover {
  color: dodgerblue;
}

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease;
  background-color: white;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
}

.progress-bar {
  height: 3px;
  background: var(--primary-color);
  width: 0%;
}

.body-content {
  padding: 100px 0;
  margin: 50px auto 0 auto;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
form .form-control {
  position: relative;
  width: 100%;
}
form .form-control label {
  font-weight: bold;
}
form .form-control input,
form .form-control textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
form .form-control .error-text {
  color: red;
  font-size: 0.8rem;
  margin-top: 4px;
}
form .form-control.error input,
form .form-control.error textarea {
  border-color: red;
}
form .submit-btn {
  padding: 8px 16px;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #f1f1f1;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}
#back-to-top-button.hidden {
  display: none;
}
#back-to-top-button svg {
  width: 24px;
  height: 24px;
  fill: #333;
  transform: translateY(4px);
}

footer {
  background-color: #262626;
  color: #fafafa;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, footer p {
  color: #fafafa;
}
footer .container .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
}
@media (max-width: 768px) {
  footer .container .content {
    padding: 1rem 0;
    flex-direction: column;
  }
  footer .container .content .left, footer .container .content .right {
    padding: 1rem 0;
  }
}
footer .container .content .item {
  padding: 2rem 0 !important;
}
footer .container .content .copyright {
  padding: 2em 0;
  border-top: 1px solid #fff;
}

:root {
  --primary-bg-overlay: linear-gradient(-47deg, #8731E8 0%, #4528DC 100%);
  --primary-color: #6244c5;
  --primary-text-color: #222;
  --primary-p-color: #565656;
  --h1-size: 4rem;
  --h1-size-small: 3rem;
  --h1-weight: 600;
  --h2-size: 3rem;
  --h2-size-small: 1.6rem;
  --h2-weight: 600;
  --h3-size: 1.5rem;
  --h3-size-small: 1.3rem;
  --h3-weight: 600;
  --h4-size: 1.3rem;
  --h4-size-small: 1.2rem;
  --h4-weight: 600;
  --h5-size: 1.2rem;
  --h5-size-small: 1rem;
  --h5-weight: 600;
  --h6-size: 1rem;
  --h6-size-small: 0.8rem;
  --h6-weight: 600;
  --p-size: 1rem;
  --p-weight: 400;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
  margin-bottom: 0;
}

h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: 1.2;
}
@media (max-width: 767px) {
  h1 {
    font-size: var(--h1-size-small);
  }
}

h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: 1.3;
}
@media (max-width: 767px) {
  h2 {
    font-size: var(--h2-size-small);
  }
}

h3 {
  font-size: var(--h3-size);
  font-weight: var(--h3-weight);
  line-height: 1.5;
}
@media (max-width: 767px) {
  h3 {
    font-size: var(--h3-size-small);
  }
}

h4 {
  font-size: var(--h4-size);
  font-weight: var(--h4-weight);
  line-height: 1.3;
}
@media (max-width: 767px) {
  h4 {
    font-size: var(--h4-size-small);
  }
}

h5 {
  font-size: var(--h5-size);
  font-weight: var(--h5-weight);
}
@media (max-width: 767px) {
  h5 {
    font-size: var(--h5-size-small);
  }
}

h6 {
  font-size: var(--h6-size);
  font-weight: var(--h6-weight);
}
@media (max-width: 767px) {
  h6 {
    font-size: var(--h6-size-small);
  }
}

p {
  font-size: var(--p-size);
  font-weight: var(--p-weight);
  line-height: 1.5;
  color: var(--primary-p-color);
  margin-top: 1em;
}/*# sourceMappingURL=styles.css.map */