footer {
  background-color: #262626;
  color: #fafafa;

  & h1,
  & h2,
  & h3,
  & h4,
  & h5,
  & h6,
  & p {
    color: #fafafa;
  }

  & .container {
    & .content {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2rem 0;

      @media(max-width: 768px) {
        padding: 1rem 0;
        flex-direction: column;

        & .left, & .right {padding: 1rem 0;}
      }

      & .item {
        padding: 2rem 0 !important;
        
      }

      & .copyright {
        padding: 2em 0;
        border-top: 1px solid #fff;
      }
    }

    
  }
}

